html body{
    direction: ltr;
    text-align: left;
}
.beforicon{
    content: "\2191";
}
.be-large-post {
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.border-black3{
    border:3px solid #000!important
}
.navigation{
    font-family: IRANSans;
}
.width100p{
    width: 100%;
}
.p-t-b-5{
    padding-bottom: 5px;
    padding-top: 5px;
}
.p-t-b-15{
    padding-bottom: 15px;
    padding-top: 15px;
}
.m-r-10{
    margin-right: 10px;
}.m-r-5{
    margin-right: 5px;
}
.p-r-25{
    padding-right: 25px;
}
.p-l-25{
    padding-left: 25px;
}
.img-size-login{
    width: 150px;
    height: 150px;
}
.size-img{
    width: 100px;
    height: 100px;
}
.size-img1{
    width: 200px;
    height: 200px;
}
.blank-page .content-wrapper .flexbox-container {
    height : 100%;
}
.font-page{
    font-family: IRANSans;
}
.table-color-ka {
    background-color: #e4e4e4 !important;
}
.color-white{
    color:white;
}
.color-black{
    color:black;
}
.backGrondColorGreen{
    background-color: #28D094;
}
.backGrondColorRed{
    background-color: #d02425;
}
.backGrondColorInfo{
    background-color: #1E9FF2;
}
.ColorGreen{
   color: #28D094;
}
.float-right{
    float: right;
}
.font-size-12{
    font-size: 12px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-15{
    font-size: 15px;

}
.font-weight-bold{
    font-weight: bold;

}.font-weight-normal{
    font-weight: normal;

}
.font-size-18{
    font-size: 18px;

}
.min-height-600{
    min-height: 600px;
}
.m-t-10 {
    margin-top: 10px
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-70{
    margin-top: 70px;
}
.m-b-70{
    margin-bottom: 70px;
}
.mtb16{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: larger;
}

.m-l-10{
    margin-left: 10px;
}
.p-l-10{
    padding-left: 10px;
}
.p-r-10{
    padding-right: 10px;
}
.color-red{
    color: darkred;
}
.color-red1{
    color: #d72e1e;
}
.colorBlue{
    color: #4384d7;
}
.colorYellow{
    color: #c5bc22;
}
.backgroundBlue{
    background-color: #489cf4;
}
.backgroundYellow{
    background-color: #c5bc22;
}
.color-green{
    color: #1abe23;
}
.rounded-circle{border-radius:50%!important}
.height-80{height:80px!important}
.height-200{height:200px!important}
.height-250{height:250px!important}
.height-110{height:110px!important}
.width-60-per {
    width: 60% !important; }
.m-b-30{
    margin-bottom: 30px;
}
.m-b-10{
    margin-bottom: 10px;
}
#content-block .input-col .form-group .select2-selection{height:45px;}
.form-group .form-input{
    border: 1px solid #aaa;
}
.mb-0,.my-0{margin-bottom:0!important}
.imgReq{
    width: 220px;
    height: 220px;
}
.height-460{
    height: 460px;
}
.postD{
    overflow: hidden;
    }
.m-r-0{
    margin-right: 0;
}
.p-lf-0{
    padding-right: 0;
    padding-left: 0;
}
.pagination > li{
    float: right;
}
.pagination > li:last-child > a{
    border-top-left-radius: 4px;

    border-bottom-left-radius: 4px;
}
.pagination > li:first-child > a{
    border-top-right-radius: 4px;

    border-bottom-right-radius: 4px;
}
.color-primary{
    color: #337ab7;
}
.cursor-pointer{cursor:pointer}
.display-hidden{display:none!important}
.modal-footer {
    text-align: left;
}
.width-130{
    width: 130px;
}
.img-detail-size{
    width: 50%;
    height: 220px;
}
.pl-2,.px-2{padding-left:1.5rem!important}
.pr-2,
.px-2 {
    padding-right: 1.5rem !important; }
.pr-0,.px-0{padding-left:0!important}
.p-1{padding:1rem!important}
.pr-1,.px-1{padding-right:1rem!important}
.pl-1, .px-1 {
    padding-right : 1rem !important;
}
.width-50 {
    width : 50px !important;
}
.height-50{height:50px!important}
.width-5-per {
    width: 5% !important; }
.fonticon-wrap{float:right;width:60px;height:60px;line-height:4.8rem;text-align:center;border-radius:.1875rem;margin-left:1rem;margin-bottom:1.5rem}
.blue {
    color: #2196F3 !important; }
.font-medium-2{font-size:1.2rem!important}
.justify-content-start{-webkit-box-pack:start!important;-webkit-justify-content:flex-start!important;-moz-box-pack:start!important;-ms-flex-pack:start!important;justify-content:flex-start!important}
.borderAll{
    border: 1px solid #f7f7f7;
    margin:5px 20px 5px 20px;
    padding: 10px 0 10px 0;
    background-color: #fafafa;
}
.cursor-default{
    cursor: default;
}
.m-r-3{
    margin-right: 3px;
}
.customer_service{
    background-image: url("../Image/icon/customer_service.png");
}
.nav-tabs > li {
    float: right;
}
.sabadEmpty{
    font-size: 31px;
    font-size: 2.214rem;
    line-height: 1.419;
    letter-spacing: -.4px;
    margin: 25px 0;
    color: #858585;
}
.image-uploader, .image-uploader__zone {
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.image-uploader__zone {
    -ms-flex-direction: row;
    -ms-flex-pack: start;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#font-size-mobile-title{
    font-size: 38px;
}
#font-size-mobile-form{
    font-size: 20px;
}
#cm1{
    padding-top: 100px;
}
@media (max-width: 1020px) {
    .hidden-xs {
        display: none !important
    }
    #font-size-mobile-title{
        font-size: 22px;
    }
    #font-size-mobile-form{
        font-size: 18px;
    }
    #cm1{
        padding-top: 0px;
    }
}