.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#loading {
	display: none;
	position: absolute;
	height: 100%;
	top: 38%;
	left:38%;
	padding: 6px;
    width: 25%;
	z-index:1002;
	overflow: hidden;
    background-image: url(../Image/ajax_loader.gif);
    background-repeat: no-repeat
}