.view-details-bg {
    -moz-border-radius: 3px; /* for Firefox */
    -webkit-border-radius: 3px; /* for Webkit-Browsers */
    border-radius: 3px; /* regular */
    color: #535353;
}
.view-details-grey {
    background: rgba(235, 235, 235, 0.62);
}
.view-details-pink {
    background: rgba(255, 160, 249, 0.62);
}
.view-details-yellow {
    background: rgba(255, 254, 134, 0.62);
}
.view-details-blue {
    background: rgba(50, 231, 247, 0.62);
}
.view-details-green {
    background: rgba(92, 247, 174, 0.62);
}
.view-details-light {
    background: rgba(240, 219, 247, 0.62);
}
.view-details-white {
    background: #ffffff;
}
